:root{
    --gris: #0E0E0E;
    --rouge: #FF0000;
    --violet: #8f008f;
    --orange: #ff4c29;
    --d: linear-gradient(90deg, #FF0000, #8F00FF);
    
    --color-bg1: #ffffff;
    --color-bg2: #f4f4f4;
    --color-bg3: #0E0E0E;
    --color-text1: #0E0E0E;
    --color-text2: #ffffff;
}


.dark-theme{ /* Couleur lors du theme sombre */
    --color-bg1: #0E0E0E;
    --color-bg2: #000000;
    --color-bg3: #ffffff;
    --color-text1:#edf2fc;
    --color-text2: #000000;
}